@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: lato, sans-serif;
    font-weight: 300;
    color: 3a3a3a;
    background-color: floralwhite;
}

/* headings and logo */
h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: rgb(35, 35, 35);
}

#logo {
    font-size: 290%;
    float: left;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu ul {
    display: flex;
    flex-direction:row;
    float: right;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    text-decoration: none;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 3px solid black;
}

.active {
    border-bottom: 3px solid black;
}

.bookroom {
    background-color: rgb(17, 130, 17);
    padding: 5px;
    color:aliceblue;
    border-radius: 3px;
}

#hero-img {
    height: 600px;
    width: 100%;
    background: url(../images/lighthouse-g7993a6f45_1920.jpg) no-repeat center center;
}