@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: lato, sans-serif;
    font-weight: 300;
    color: 3a3a3a;
    background-color: floralwhite;
}

/* headings and logo */
h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: rgb(35, 35, 35);
}

#logo {
    font-size: 290%;
    float: left;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu ul {
    display: flex;
    flex-direction:row;
    float: right;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    text-decoration: none;
}

#menu a {
    text-decoration: none;
}

#menu a:hover {
    border-bottom: 3px solid black;
}

.active {
    border-bottom: 3px solid black;
}

#book-room {
    background-color: rgb(17, 130, 17);
    padding: 5px;
    color:aliceblue;
    border-radius: 3px;
}

#hero-outer {
    height: 100vh;
    width: 100%;
    overflow: hidden;

    position: relative;
 }

 #hover-text, #hover-text h2 {
    color: #fff;
 }

#hero-img {
    height: 100vh;
    width: 100%;
    background: url(../images/lighthouse-g7993a6f45_1920.jpg) no-repeat center center;

    /* animates zoom effect */
    animation-name: zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* Specifies size changes in animation */
@keyframes zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
}

#hover-text {
/* text appearance */
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
/* dimensions */
    width: 300px;
    height: 200px;
    padding-top: 30px;
    padding-left: 10px;
    border-radius: 20px;
    background-color: rgba(97, 133, 212, 0.586);
/* position */
    bottom: 30px;
    right: 30px;
    position: absolute;
}

#activities {
    height: 600px;
}

#left-about {
    width: 33%;
    float: left;
    padding-top: 30px;
}

#right-about {
    width: 33%;
    float: right;
    padding-top: 30px;
}

#center-about {
    width: 33%;
    margin: 0 auto;
    background-color: red;
}

hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
    width: 100%;
}

.left-about-heading, .right-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    float: left;
}

.right-about-heading h2, .right-about-heading p {
    text-align: right;
}

#activities-header {
    text-align: center;
    margin: 30px 0;
    font-size: 250%;
}

